<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
		<header>
			<nav>
				<ul>
					<li><a href="/day?user_id=<%=events[0].user_id%>">Event Planner</a></li>
					<li><a href="/todo?user_id=<%=events[0].user_id%>">To Do List</a></li>
				</ul>
			</nav>
		</header>     
<main>
        
            <div class="date_temp_description">
                <p id="date">Today's Date</p>
            </div>
           <div class="container"> 
			   <div class="column">
			   	<h3> Your Scheduled Events </h3>
				   <table>
			   	<tr>
					<th></th>
				   <th>Date</th>
					<th>Name</th>
					<th>Start Time</th>
					<th>End Time</th>
				   </tr>
				   <tr>
			    <% for (var i = 0; i < events.length; i++) {
					month = '' + (events[i].date.getMonth() + 1),
        			day = '' + events[i].date.getDate(),
        			year = events[i].date.getFullYear();

    				if (month.length < 2) month = '0' + month;
    				if (day.length < 2) day = '0' + day;
					
					var date = [month, day, year].join('-'); 
						
					 time = events[i].start_time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [events[i].start_time];

					  if (time.length > 1) { // If time format correct
						time = time.slice (1);  // Remove full string match value
						time[5] = +time[0] < 12 ? 'AM' : 'PM'; // Set AM/PM
						time[0] = +time[0] % 12 || 12; // Adjust hours
					  }
  					  strtTime = time.join (''); 
					
					time = events[i].end_time.toString ().match (/^([01]\d|2[0-3])(:)([0-5]\d)(:[0-5]\d)?$/) || [events[i].end_time];

					  if (time.length > 1) { // If time format correct
						time = time.slice (1);  // Remove full string match value
						time[5] = +time[0] < 12 ? ' AM' : ' PM'; // Set AM/PM
						time[0] = +time[0] % 12 || 12; // Adjust hours
					  }
  					  endTime = time.join (''); 
						
						
						
				%>
					<td><input type="checkbox"></td>
					<td><%= date %></td>
					<td><%= events[i].event_name %></td>
					<td><%= strtTime %></td>
					<td><%= endTime %></td>
					   </tr>
					<% } %>
				   </table>
	</div>
     	<div class="column">
			<form class="event-form">
				<h3>Add Event to Schedule</h3>
				<label>Name of Event</label>
				<input type="text" name="name">
				<label>Date</label>
				<input type="date" name="date">
				<label>Start Time</label>
				<input type="time" name="start_time">
				<label>End Time</label>
				<input type="time" name="end_time">
				<input type="hidden" name="user_id">
				<input type="hidden" name="date_id">
				<input type="submit" value="Add Event">
	</form>
			   </div>
	</div>
		</main>
	</body>
</html>