<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/day?user_id=<%=todoList[0].user_id%>">My Events</a></li>
				<li><a href="/todo?user_id=<%=todoList[0].user_id%>">To Do List</a></li>
				<li>
					<%

						var date = new Date();

						var year = date.getFullYear();

						var month = date.getMonth() + 1;
						month = (month < 10 ? "0" : "") + month;

						var day  = date.getDate();
						day = (day < 10 ? "0" : "") + day;

						var dateFinal =  month + "/" + day + "/" + year;
					%>
						<%=dateFinal%>
				</li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="container">
			<div class="column">
				<h1>Todo List</h1>
				<table class="table table-striped todo-table">
					<% for (var i = 0; i < todoList.length; i++) { %>
						<tr>
							<td>
								<%= todoList[i].item %>
							</td>
							<td><a class="btn btn-danger" href="/deleteItem?user_id=<%= todoList[i].user_id%>&todo_item_id=<%= todoList[i].todo_item_id%>">&#10006;</a></td></tr>
							<% } %>
					<td><input type="text" id="todo_item"></td>
					<td><button class="btn btn-primary" type="button" onclick="addItem(<%= todoList[1].user_id %>)">&#43;</button></td>
				</table>
			</div>
		</div>
	</main>
</body>

</html>
