<!DOCTYPE html>
<html>

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<header>
		<nav>
			<ul>
				<li><a href="/day?user_id=<%=todoList[0].user_id%>">Event Planner</a></li>
				<li><a href="/todo?user_id=<%=todoList[0].user_id%>">To Do List</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<div class="container">
			<div class="column">
				<h3>Todo List</h3>
				<table class="todolist-table">
					<% for (var i = 0; i < todoList.length; i++) { %>
						<tr>
							<td>
								<%= todoList[i].item %>
							</td>
							<td><a href="/deleteItem?user_id=<%= todoList[i].user_id%>&todo_item_id=<%= todoList[i].todo_item_id%>">&#10006;</a></td></tr>
							<% } %>
				</table>
			</div>
			<div class="column">
				<form action="/updateToDoList" method="GET">
					<h3>Add an item to the list:</h3>
					<label>Item Name</label>
					<input type="text" name="item">
					<input type="submit" value="Add item to list">
					<input type="hidden" name="user_id" value="<%=todoList[0].user_id%>">
				</form>
			</div>
		</div>
	</main>
</body>

</html>
